<body>
    <section class="container d-flex justify-content-center align-items-center">
       <!--la clase container es para el responsive-->
        <div class="content-wrapper">
            <div class="row text-center">
                <div class="imagen col-12">
                    <img src="/images/Imagen_cv_2.png" alt="Najwa El Qortobi" class="img-fluid rounded-circle shadow-lg">
                <!--El "/" inicial indica que la ruta comienza desde la raíz public.-->
                </div>
                <div class="col-12">
                    <p class="lead descripcion mx-auto">Soy desarrolladora Full Stack con una sólida formación en la creación de aplicaciones web dinámicas y escalables. 
                        Poseo un profundo conocimiento en tecnologías como HTML, CSS y JavaScript, así como en frameworks modernos que me permiten construir interfaces intuitivas y 
                        funcionales.</p>

                    <p class="lead descripcion mx-auto"> Durante mis estudios, he participado en proyectos desafiantes que han puesto a prueba mis habilidades técnicas y mi capacidad para colaborar eficazmente en equipo. Estoy comprometida con el aprendizaje continuo y la adaptación a nuevas tecnologías, lo que me permite mantenerme a la punta de un campo en constante evolución. Estoy entusiasmada por seguir creciendo como profesional y enfrentar nuevos retos en esta apasionante industria.</p>
                       
                    <div class="button">
                        <a routerLink="contacto">Contáctame</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
    