<section id="proyectos" class="py-5">
    <div class="container">

        <!-- Proyecto 1 -->
        <div class="row mb-5"> <!-- Fila para el Proyecto 1 -->
            <div class="col-md-7"> <!-- Columna para el carrusel -->
                <div id="carouselProject1" class="carousel slide" data-bs-ride="carousel" style="max-width: 400px; margin: auto;">
                    <div class="carousel-inner rounded-3">
                        <div class="carousel-item active size-1">
                            <img src="/images/bisuteria1.png" alt="Tienda Bisuteria" class="d-block w-100">
                        </div>
                        <div class="carousel-item fixed-height size-2">
                            <img src="/images/bisuteria2.png" alt="Landing Bootstrap" class="d-block w-100">
                        </div>
                       
                        <div class="carousel-item fixed-height size">
                            <img src="/images/codigo2-bisuteria.png" alt="Proyecto Bisuteria" class="d-block w-100">
                        </div>
                        <div class="carousel-item fixed-height size-4">
                            <img src="/images/bisuteria3.png" alt="proyecto Biuteria" class="d-block w-100">
                        </div>
                      
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProject1" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselProject1" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-5 d-flex flex-column justify-content-center contenido-descripcion"> <!-- Columna para la descripción -->
                <h5 class="title">Proyecto Bisuteria</h5>
                <p class="txt"> Este proyecto es una aplicación web para una tienda de bisutería que ofrece una experiencia de compra personalizada y multilingüe, diseñada para mostrar y vender una variedad de accesorios con un sistema de pedidos y autenticación de usuarios. Destaca su funcionalidad multilingüe, con soporte para español, euskera, inglés y francés, permitiendo a los clientes explorar productos y gestionar sus compras de manera intuitiva.</p>
                <p class="txt"> Desarrollado utilizando tecnologías web fundamentales como CSS3, HTML5 y JavaScript, el proyecto demuestra habilidades en desarrollo frontend, diseño responsive e integración de sistemas de comercio electrónico.</p>

                <div class="d-flex justify-content-center">
                    <a href="https://bisuteria-unica.netlify.app/" class="me-2 btn-proyecto mb-5">Ver Proyecto</a>
                    <a href="https://github.com/Najwaelqortobi/Proyecto_bisuteria.git" class="btn-codigo mb-5">Ver Código</a>
                </div>
            </div>
        </div>

        <!-- Proyecto 2 -->
        <div class="row mb-5"> <!-- Fila para el Proyecto 1 -->
            <div class="col-md-7"> <!-- Columna para el carrusel -->
                <div id="carouselProject2" class="carousel slide" data-bs-ride="carousel" style="max-width: 400px; margin: auto;">
                    <div class="carousel-inner rounded-3">
                        <div class="carousel-item active fixed-height">
                            <img src="/images/Arco-1.png" alt="Proyecto Arco" class="d-block w-100">
                        </div>
                        <div class="carousel-item fixed-height">
                            <img src="/images/Arco-2.png" alt="Proyecto Arco" class="d-block w-100">
                        </div>
                        <div class="carousel-item fixed-height">
                            <img src="/images/Arco-3.png" alt="Proyecto Arco" class="d-block w-100">
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProject2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselProject2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-5 d-flex flex-column justify-content-center contenido-descripcion"> <!-- Columna para la descripción -->
                <h5 class="title">Proyecto Arco</h5>
                <p class="txt">Este proyecto tiene como objetivo proporcionar al Club Orion Getxo una plataforma digital para mostrar sus actividades y mantener informados a los interesados sobre los programas disponibles. Este proyecto se ha realizado usando lenguajes de programación HTML5 y CSS3
                </p>
                <div class="d-flex justify-content-center mt-3">
                    <a href="https://proyecto-arco.netlify.app/" class="me-2 btn-proyecto">Ver Proyecto</a>
                    <a href="https://github.com/Najwaelqortobi/Proyecto_Arco.git" class="btn-codigo">Ver Código</a>
                </div>
            </div>
        </div>

           <!-- Proyecto 3 -->
           <div class="row mb-5"> <!-- Fila para el Proyecto 1 -->
            <div class="col-md-7"> <!-- Columna para el carrusel -->
                <div id="carouselProject3" class="carousel slide" data-bs-ride="carousel" style="max-width: 400px; margin: auto;">
                    <div class="carousel-inner rounded-3">
                        <div class="carousel-item active fixed-height">
                            <img src="/images/Marvel-home.png" alt="Marvel Home" class="d-block w-100" style="object-fit: cover;object-position: 52%;">
                        </div>
                     
                        <div class="carousel-item fixed-height">
                            <img src="/images/Timeline.png" alt="Timeline Codigo" class="d-block w-100" tyle="object-fit: cover; height: 70vh; object-position: 40%;">>
                        </div>
                        <div class="carousel-item fixed-height">
                            <img src="/images/Quiz.png" alt="Quiz" class="d-block w-100" style="object-fit: cover; height: 70vh; object-position: 35%;">
                        </div>
                        <div class="carousel-item fixed-height">
                                <img src="/images/Comics.png" alt="Comics" class="d-block w-100" style="object-fit: cover; height: 70vh; object-position: 58%;">
                            </div>
                            <div class="carousel-item fixed-height">
                            <img src="/images/Wiky.png" alt="Wiky" class="d-block w-100" style="object-fit: cover;object-position: 10%;">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProject3" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselProject3" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-5 d-flex flex-column justify-content-center contenido-descripcion"> <!-- Columna para la descripción -->
                <h5 class="title">Marvel Events Explorer</h5>
                <p class="txt">Este proyecto es una página web interactiva sobre el universo Marvel que ofrece una experiencia dinámica y educativa. Presenta un listado de eventos destacados con un menú desplegable para seleccionar eventos específicos, mostrando cómics relacionados. </p>
                    <p class="txt">Además, incluye acceso a la wiki de cada cómic para obtener información detallada y un quiz interactivo que evalúa el conocimiento de los usuarios sobre Marvel, proporcionando un puntaje final.
                       <p class="txt"> El proyecto fue desarrollado utilizando tecnologías web modernas como HTML, CSS y JavaScript, implementadas con Vue CLI. </p>
                       <div class="d-flex justify-content-center mt-3">
                        <!-- <a href="https://parseo-casteo.netlify.app/" class="me-2 btn-proyecto" style="margin-top: -1rem;">Ver Proyecto</a> -->
                        <a href="https://github.com/Najwaelqortobi/marvel-project.git" class="btn-codigo" style="margin-top: -1rem;">Ver Código</a>
                    </div>
            </div>
        </div>



    </div>

</section>
